@{
    ViewData["Title"] = "Success Page";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <form asp-action="Clear" asp-controller="User" method="post" class="nav-item">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </nav>
</header>

<div class="mx-auto my-auto">
    <h1>Success!</h1>
</div>